@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Public Sans";
}
.navbar a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(228 228 231);
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar a:hover::after {
  transform: scaleX(0.5);
}

.navactive a:hover::after {
    transform: scaleX(0.5);
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply opacity-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.white_card {
    min-width: 90%;
}

.backdrop-blur-vsm {
    --tw-backdrop-blur: blur(2px);
}